html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ef4444;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar {
  background-color: black;
}

.placeholder {
  background: #eee;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.placeholder:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(90deg, #eee, #f4f4f4, #eee);
  animation: gradient 1s infinite ease-in-out;
}

@keyframes gradient {
  form {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

.swiper-pagination-bullet {
  background-color: #ff0000 !important;
  width: 20px !important;
  height: 20px !important;
}

.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-prev-next {
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active-prev:hover,
.swiper-pagination-bullet-active-prev-prev:hover,
.swiper-pagination-bullet-active-next:hover,
.swiper-pagination-bullet-active-prev-next:hover {
  opacity: 0.8 !important;
}

/* Custom Loader CSS Start*/

.loader {
  transform: rotate(45deg);
}

.gradient {
  animation-iteration-count: infinite;
  animation-duration: 1s;
  fill: url("#gradient-fill");
}

.square {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
}

.s1 {
  animation-name: slide-1;
}

.s2 {
  animation-name: slide-2;
}

.s3 {
  animation-name: slide-3;
}

.s4 {
  animation-name: slide-4;
}

.s5 {
  animation-name: slide-5;
}

.s6 {
  animation-name: slide-6;
}

.s7 {
  animation-name: slide-7;
}

@keyframes slide-1 {
  37.5% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(100px);
  }
}

@keyframes slide-2 {
  25% {
    transform: translateX(0px);
  }

  37.5% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(100px);
  }
}

@keyframes slide-3 {
  12.5% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(100px);
  }
}

@keyframes slide-4 {
  50% {
    transform: translateY(0px);
  }

  62.5% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(-100px);
  }
}

@keyframes slide-5 {
  12.5% {
    transform: translate(-100px, 0px);
  }

  87.5% {
    transform: translate(-100px, 0px);
  }

  100% {
    transform: translate(-100px, 100px);
  }
}

@keyframes slide-6 {
  62.5% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(-100px);
  }
}

@keyframes slide-7 {
  75% {
    transform: translateX(0px);
  }

  87.5% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(-100px);
  }
}

/* Custom Loader CSS End*/

/* Top Nav Navigation Tabs CSS Start */

.top-nav>a {
  font-weight: 900;
  z-index: 1;
}

.top-nav>a.active {
  color: #fff;
}

.top-nav>.home-nav.active~span {
  left: -12px;
  width: 72px;
}

.top-nav>.movies-nav.active~span {
  left: 75px;
  width: 80px;
}

.top-nav>.tv-nav.active~span {
  left: 172px;
  width: 102px;
}

/* Top Nav Navigation Tabs CSS End */


/* Pagination CSS Start */

.pagination-container {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.pagination-container>li>a {
  transition: all 0.3s
}

.pagination-container>li:not(:first-of-type, :last-of-type)>a {
  border-width: 2px 1px;
  border-color: #ef4444;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container>li:first-of-type>a {
  border: 2px solid #ef4444;
  padding: 10px 16px;
  margin-right: 15px;
  border-radius: 10px;
}

.pagination-container>li:last-of-type>a {
  border: 2px solid #ef4444;
  padding: 10px 16px;
  margin-left: 15px;
  border-radius: 10px;
}

.pagination-container>li:nth-of-type(2)>a {
  border-left: 2px solid #ef4444;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pagination-container>li:nth-last-of-type(2)>a {
  border-right: 2px solid #ef4444;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pagination-container>li.selected>a {
  background-color: #ef4444;
}

.pagination-container>li>a:hover {
  background-color: #ef4444;
}

/* Pagination CSS End */